div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	width: 98.5%;
	margin-top: -20px;
	height: auto;
	background-color: #a7b0af;
	margin-bottom: 10px;
	padding: 15px;

}

.firstname {

	margin-left: 5px;
	padding-top: 5px;
	font-size: 60px;
	font-family: Helvetica;
	color: #c3ddd6;
	font-weight: 800;
}
	
.lastname {

	margin-left: 5px;
	padding-top: 5px;
	font-size: 60px;
	font-family: Garamond;
	color: #648589;
	font-weight: 800;
}
a:link {color: #c3ddd6;}
a:visited {color: #c3ddd6;}
a:hover {color: #c3ddd6; text-decoration:underline;}
a:active {color: #c3ddd6;}
}

#title {
	font-family: Garamond;
	color: #ffffff;
	float:relative;
	margin-left: 5px;
	padding-top: 16px;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Garamond;
	color: #ffffff;
}

#job{
	font-size: 20px;
	font-family: Garamond;
	color: #000000;
	}
#jobtitle {
	font-size: 16px;
	font-family: Garamond;
	color: #000000;
	}
#jobdate {
	font-size: 14px;
	font-family: Garamond;
	color: #000000;
	}
#description{
	font-size: 14px;
	font-family: Garamond;
	color: #000000;
	}

#degree{
	font-size: 15px;
	font-family: Garamond;
	color: #98A9AD;
	font-weight: bold;
	
}	

h2 {
text-transform: uppercase;
color:#008080;
font-size: 1.5em;
font-weight: 300;
border-bottom:  3px solid  #c3ddd6;
width:90%;

;
}		
			
h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Helvetica;
	font-weight: light;
	color: #008080
}
h5  {
font-size: 1.50em;
font-weight:500;
font-family: Garamond;

}

}

#underline{
	position: relative;
	height: 10px;
	background-color: #c3ddd6;
	}
hr {border-bottom: 2px solid #c3ddd6;
	width:55%
	}
	
.grey { color:#626060;}
.white { color: #ffffff;}
.teal { color: #b9d7d9;}
.resumeGrey  {color:#a7b0af;}


.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	margin-bottom: 10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}
.myLeft {float:left; margin-right:4px;width:20%;}
.myRight {float:left; width:70%;}
.clear {clear:both;}

.left {
	position: relative;
	float: left;
	margin-top: 150px;
	width: 30%;
	height: 800px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 150px;
	width: 68%;
	height: 800px;
	background-color: #c3ddd6;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #a7b0af;
	clear: both;
	font-family: Garamond;
	font-size: 18px;
	text-align: center;
	color: #008080;
}

#footer p {
	position: relative;
	padding-top: 15px;
}